
Harrold_ZOOTR_Random_Settings_Tracker/.vs/Harrold_ZOOTR_Random_Settings_Tracker/v15/.suo
Harrold_ZOOTR_Random_Settings_Tracker/.vs/Harrold_ZOOTR_Random_Settings_Tracker/v15/Server/sqlite3/db.lock
Harrold_ZOOTR_Random_Settings_Tracker/.vs/Harrold_ZOOTR_Random_Settings_Tracker/v15/Server/sqlite3/storage.ide
Harrold_ZOOTR_Random_Settings_Tracker/.vs/Harrold_ZOOTR_Random_Settings_Tracker/v15/Server/sqlite3/storage.ide-shm
Harrold_ZOOTR_Random_Settings_Tracker/.vs/Harrold_ZOOTR_Random_Settings_Tracker/v15/Server/sqlite3/storage.ide-wal
